@import '~@fortawesome/fontawesome-free/css/all.css';

.modal {
  display: block; /* Cambia a 'none' cuando esté cerrado */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro translúcido */
}

.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px; /* Ancho máximo del modal */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


/* Estilos para los botones */
button {
  margin-top: 10px;
}

button i {
  margin-right: 5px; /* Espacio entre el icono y el texto */
  vertical-align: middle; /* Alinea el icono al centro verticalmente */
}

button {
  display: inline-flex;
  align-items: center; /* Alinea icono y texto verticalmente */
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  color: white; /* Color de texto blanco */
  cursor: pointer;
}

/* Estilo para cerrar el modal */
.close-modal {
  background-color: #857f7f; /* Rojo para el botón de cerrar */
}

.close-modal:hover {
  background-color: #645c5c; /* Color de fondo más oscuro al pasar el ratón */
}

.delete {
  background-color: #d9534f; /* Rojo para el botón de cerrar */
  font-size: 13px;
}

.delete:hover {
  background-color: #f60800;
}

.add {
  background-color: #056bfb; /* Azul para el botón de agregar */
  font-size: 13px;
}

.add:hover {
  background-color: #0545ad;
}

form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button.close-modal {
  background-color: transparent;
  border: 2px solid #5f5c5c;
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button.close-modal:hover {
  background-color: #5f5c5c;
  color: white;
}

/* Animación para la entrada del modal */
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.habilidad {
  margin-left: 15px;
}

.habilidad button {
  margin-bottom: 5px;
}
.personas{
  margin: 10px;
}
.error-message{
 color: red;
 font-size: 12px;
}
