<div class="modal" *ngIf="isOpen">
  <div class="modal-content">
    <h2>{{this.tareaSeleccionada? 'Editar Tarea' : 'Crear Tarea' }}</h2>

    <form [formGroup]="tarea" (ngSubmit)="onSubmit()">
      <label for="">Nombre de la tarea</label>
      <input formControlName="nombre" placeholder="Nombre de la tarea" />
      <span
        *ngIf="
          tarea.controls['nombre'].getError('required') &&
          tarea.controls['nombre'].touched
        "
        class="error-message"
      >
        Este campo es requerido
      </span>
      <br />

      <label for="">Fecha límite</label>
      <input
        formControlName="fecha"
        type="date"
        placeholder="Fecha de la tarea"
      />
      <span
      *ngIf="
        tarea.controls['fecha'].getError('required') &&
        tarea.controls['fecha'].touched
      "
      class="error-message"
    >
      Debe colocar una fecha.
    </span>
      <span
      *ngIf="
        tarea.controls['fecha'].getError('notFutureDate') &&
        tarea.controls['fecha'].touched
      "
      class="error-message"
    >
      La fecha debe ser futura.
    </span>

        <h3>Personas asociadas</h3>
        <div formArrayName="personas">

          <div style="margin: 15px; border: 1px solid rgb(228, 228, 228); padding:10px; background-color: rgb(228, 228, 228)"
            *ngFor="let persona of personas.controls; let i = index"
            [formGroupName]="i"
          >
            <label for="">Nombre completo</label>
            <input formControlName="name" placeholder="Nombre de la persona" />
            <span
        *ngIf="
          persona.get('name')?.getError('required') &&
          persona.get('name')?.touched
        "
        class="error-message"
      >
        El nombre es requerido.
      </span>
      <span *ngIf="persona.get('name')?.getError('nombreDuplicado') && persona.get('name')?.touched" class="error-message">
        El nombre de la persona ya existe.
      </span>


            <label for="">Edad</label>
            <input formControlName="edad" type="number" placeholder="Edad" />
            <span
        *ngIf="
          persona.get('edad')?.getError('required') &&
          persona.get('edad')?.touched
        "
        class="error-message"
      >
        La edad es requerida.
      </span>
      <span
        *ngIf="
          persona.get('edad')?.getError('min') &&
          persona.get('edad')?.touched
        "
        class="error-message"
      >
        La edad debe ser mayor a 18.
      </span>

            <div class="habilidad">
              <h4>Habilidades</h4>
              <div formArrayName="habilidades">
                <div
                  *ngFor="
                    let habilidad of getHabilidades(i).controls;
                    let j = index
                  "
                  [formGroupName]="j"
                >
                  <input
                    formControlName="habilidadNombre"
                    placeholder="Nombre de la habilidad"
                  />
                  <span
                  *ngIf="
                    habilidad.get('habilidadNombre')?.getError('required') &&
                    habilidad.get('habilidadNombre')?.touched
                  "
                  class="error-message"
                >
                  El nombre de la habilidad es requerido.
                </span>

                  <div *ngIf="j>0">
                    <button
                    class="delete"
                    type="button"
                    (click)="deleteHabilidad(i, j)"
                  >
                    <i class="fas fa-trash-alt"></i> Eliminar habilidad
                  </button>
                  </div>

                </div>
                <button class="add" type="button" (click)="addHabilidad(i)">
                  <i class="fa-solid fa-plus"></i>Agregar habilidad
                </button>
              </div>
            </div>

            <div *ngIf="i>0">
              <button class="delete" (click)="deletePersona(i)">
                <i class="fas fa-trash-alt"></i>Eliminar persona
              </button>
            </div>

          </div>

          <br>
          <button class="add" type="button" (click)="addPersona()">
            <i class="fa-solid fa-plus"></i>Agregar persona
          </button>
        </div>
        <button class="add" type="submit">{{this.tareaSeleccionada? 'Actualizar' : 'Crear' }}</button>
    </form>

    <button class="close-modal" (click)="closeModal()">Cerrar</button>
  </div>
</div>
